@model IEnumerable<Booker.Models.Book>

@{
    ViewData["Title"] = "List";
}

<h1>List of all Books</h1>

<div class="d-flex">
    @foreach (var item in Model) {
        <div class="m-3">
            <a asp-action="Details" asp-route-id="@item.ISBN"><img src="@item.Image" /><br />@Html.DisplayFor(modelItem => item.Title)</a>
        </div>
}</div>
