@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Welcome</h1>
    <p>Booker allows you to rate and comment your favorites Books !<br />If You are an author you can add your book ! <br /></p>
</div>
