@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Booker has been made for He-Arc by Gregoire Rebstein, Adrien Paysant and Joris Monnet. All rights reserved.<br />
    You can download your personnal data in profile page.</p>
</div>